<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/addNewUrl" method="get">
    <input type="text" name="urlName" placeholder="url名称"><br>
    <input type="radio" name="urlType" value="GET">GET
    <input type="radio" name="urlType" value="POST">POST<br>
    <input type="text" name="urlResponse" placeholder="返回数据">
    <input type="submit" value="添加">
</form>
<ul>
    {% for con in content %}
    <li>
        <p>urlName : {{con.urlName}}</p>
        <P>urlType : {{con.urlType}}</P>
        <p>urlRespose : {{con.urlResponse}}</p>
        <form action="/deleteUrl" method="get">
            <input type="hidden" name="id" value={{con.id}}>
            <input type="submit" value="删除">
        </form>
        <form action="/updateForm" method="get">
            <input type="hidden" name="id" value={{con.id}}>
            <input type="submit" value="修改">
        </form>
    </li>
    {% endfor %}
</ul>

</body>
</html>